    *{
        margin:0;
        padding:0;
    }
    /* inter font related style  */
    
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* ....................this is nav related link........... */
header{
    max-width:1600px;
    margin:0 auto;
    background-color:#1A0B2E;
}
nav{
    position:relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:24px 0;
}
.thewave{
    font-size:bold;
    color:white;
}
.gradient{
    background:linear-gradient(20deg,#f7e83fc3,#FB09B4,#9100F8);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.nav-links ul{
    list-style: none;
    display:flex;
    gap:32px;
    color:white;

}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-weight:500;

}

.btn1 button{
cursor: pointer;
width:135px;
color:white;
padding:13px 16px;
border-radius: 10000px;
background:linear-gradient(30deg,#f7e83f,#FB09B4,#9100F8)

}
.btn1 button:hover{
width:100px;
height:50px;
border:4px solid white;

}
.checkbox,
.hamburger{
    display:none;
}
/* .............banner-section related style  */
.banner-section{
    max-width:1600px;
    height: 760px ;
    margin:0 auto;
    background:url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    
}
.banner{
    padding-top:101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-img{
    display:flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    width:350px;
    height:350px;
    background:url("../assets/hero-circle.png");
    position:relative;
}
.banner-img .badge{
    position: absolute;
    top:0;
    right:0;
    width:75px;
    border-radius: 1000px;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}
.banner-img .badge p{
    font-weight:600;
    font-size:18px;
    padding:8px 16px;
    
}
.hero-title{
    color: white;
    font-weight:800;
    font-size:4rem;
}
.hero-description{
    color:white;
    margin-bottom:24px;
}
.btn-box{
    display:flex;
    gap:8px;
}
.btn2, .btn3 {
    display:flex;
    gap:8px;
    padding:13px 20px;
    align-items: center;
    border-radius: 10000px;
    font-weight: 600;
    cursor: pointer;
}
.btn3:hover,.btn2:hover{
    border:4px solid white;
}
.btn2{
color:white;
background:linear-gradient(30deg,#f7e83f,#FB09B4,#9100F8);
}
.btn3{
    border:1px solid #00FF88;
    color:#00FF88;
    background: transparent;
}
/* about section related style  */
.about{
    max-width: 1600px;
    height:646px;
    margin:0 auto;
    background-color: #1A0B2E;
}
.about-info{
    width:75%;
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    
}
.about-info h2{
    color:white;
    font-size:3rem;
    font-weight:bold;
}
.paragraph1,
.paragraph2{
    color:white;
    line-height:30px;
}
.about-info hr{
margin-top:80px;
margin-bottom:80px;
border:0;
border-top: 1px solid rgba(255, 255, 255, 0.167);
}
.about-works{
    width:75%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    gap:80px;
}
.info{
    width:240px;
}
.info h3{
    font-size:3rem;
    font-weight:900;
    color:#00FF88;
    margin-bottom:16px;
}
.info p{
    color:white;

}
/* ...............Why chose related style.............  */
.why-chose{
    max-width: 1600px;
    margin:0 auto;
   background-color: #230E3D;
}
.techwave-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.title{
    color:white;
    font-size:3rem;
    font-weight:bold;
    margin-top:120px;
    margin-bottom:40px
}
.information{
    width:75%;
    max-width:1200px;
    margin-bottom:120px;

}
.info-card img{
    margin-bottom:16px;
}
.info-card h3{
    color:white;
    font-size:1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.info-card p{
    color:rgba(255, 255, 255, 0.45);
    font-size:1rem;
    line-height: 1.5rem;

}
.information>*{
    background-color: rgba(53, 17, 101, 0.4);
    padding:40px;
    border-radius: 40px;
}
.headphone{
    grid-area: headphone;
}
.resource{
    grid-area: resource;
}
.exclusive{
    grid-area: exclusive;
}
.location{
    grid-area: location;
}
.device{
    grid-area:device;
}
   .information{
    display: grid;
    gap:30px;
    grid-template-areas:
    "headphone   device     device"
    "headphone   location   location"
    "exclusive   exclusive  resource";
   }
   /* feature related style  */
   .features{
    max-width: 1600px;
    margin:0 auto;
    background-color: #1A0B2E;
   }
   .feature-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    margin:0 auto;
   }
   .feature-container h2{
    color:white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom:40px;
   }   
   .card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    max-width: 1200px;
    margin:0 auto;
   }
   .feature-card{
    max-width:380px;
    width:100%;
    min-height:440px;
    background-color: #250D44;
    border-radius: 20px;
    
   }
   .card-content{
    width:auto;
    padding:24px;
   }
   .iframe{
    width:100%;
    height:auto;
    aspect-ratio: 16/9;
    border-radius: 20px 20px 0 0;
   }
    .feature-card h3{
        height: 58px;
        color:white;
        font-size: 1.5rem;
        font-weight:bold;
        margin-bottom: 12px;
    }
     .feature-card .p1{
        height:72px;
        margin-bottom: 12px;
        line-height:24px;
        color:rgba(255, 255, 255, 0.361);
       
     }
     .feature-card .p2{
        color:#00FF88;
        gap:6px;
        font-weight: 600;
        display:flex;
     }
     /* alex-kumar related style  */
     .alex-kumar{
        max-width: 1200px;
        width:75%;
        display:flex;
        gap:24px;
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 20px;
        padding:40px;
        align-items: center;
     }
     .about-alex h3{
        color:white;
        font-size: 2rem;
        font-weight: bold;
     }
     .about-alex p{
        color:rgba(255, 255, 255, 0.361);
        margin-bottom: 16px;
     }
     .about-alex ul{
        display:inline-flex;
        list-style: none;
        gap:10px;

     }
     /* ...................footer related style........  */
     footer{
        display:flex;
        max-width: 1600px;
        height:412px;
        margin:0 auto;
        background: url("../assets/footer-bg.png");
        align-items: center;
     }
     .footer-section{
        display:flex;
        flex-direction: column;
        width:85%;
        max-width: 1360px;
        margin:auto;
        align-items: center;
        justify-content: center;
     }
     .footer-section h1{
        color:white;
        font-size:4rem;
        font-weight:bold ;
        margin-bottom: 32px;
     }
     .footer-section span{
        background:linear-gradient(20deg, #f7e83f,#FB09B4, #9100F8);
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
     }
     .social-container{
        display:flex;
        gap:40px;
     }
     .social-container p{
        color:rgba(255, 255, 255, 0.361);
        align-items: center;
        
     }
     .social-container img{
        margin-right: 8px;
     }
     .copyright{
        color:rgba(255, 255, 255, 0.361);
        margin-top:32px;
     }
/* ....................media query related style .............  */
 
    @media screen and (max-width:576px) {
    .btn1,
    .checkbox {
        display:none;
    }
    .hamburger{
        display:block;
        cursor:pointer;
        
    }
    .hamburger-icon{
        display:block;
        width:40px;
    }
    .nav-links .links{
        display:none;
        position:absolute;
        flex-direction: column;
        top:60px;
        right:10%;
        background-color: #1A0B2E;
        border:3px solid;
        border-image-source:
        linear-gradient(30deg,#f7e83f,#FB09B4,#9100F8);
        border-image-slice:1;
        border-radius:8px;
        width:100px;
        align-items: center;
        padding:10px;
        z-index: 1;
    }

    .checkbox:checked + .hamburger + .links{
        display:flex;
    }
    .banner-section{
        background-position: center;
    }
    .hero-title,
    .hero-description{
        width:90%;
        text-align: center;
    }
    .about-info h2{
        font-size:2.5rem;
        margin-bottom: 20px;
    }

    .paragraph1{
        text-align:justify;

    }
    .paragraph1 br{
        display:none;
    }
    .about-works{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width:100%;
        gap:20px;
    }
        .about-info hr{
        margin-top:20px;
        margin-bottom:30px;
}
.info h3{
    font-size:2.5rem;
    font-weight:900;
  
} 
.title{
    font-size: 1.8rem;
    margin-top: 50px;
} 
 .information{
    grid-template-areas:
    "headphone"
    "device"
    "location"
    "exclusive"
    "resource";
   }
   /* feature relates query */
   .feature-container{
    padding:20px;
   }

  .feature-container h2{
    color:white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top:50px;
    margin-bottom:30px;
   } 
   .card-container{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0 auto;
   }
   .alex-kumar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   .about-alex ul{
        margin-top: 20px;
        gap:20px;

     }
    }

@media screen and (min-width:576px) and (max-width:992px) {
     .banner-section{
        background-position:center;
    }
    .paragraph1 br{
        display:none;
    }
        .about-works{
            gap:60px;
    }
    .info h3{
    font-size:2rem;
    font-weight:900;
  
}
 .information{
    grid-template-areas:
    "headphone  headphone"
    "device     location"
    
    "resource   resource"
    "exclusive  exclusive";
   }

.title{
    font-size: 2rem;
    margin-top: 50px;
} 
   footer{
    background-position: center;
   }
/* feature related query
 */
    .feature-container{
        padding:20px;
        padding-top:60px;
        justify-content: center;
        align-items: center;
    }
     .feature-container h2{
        font-size: 3rem;
     }
    .card-container{
        gap:60px;
        padding:10px;
        grid-template-columns: repeat(1, 1fr);
        margin:0 auto;
    }
  
    .feature-card{
        width:100%;
        height:400px;

    }
    .about-alex h3{
        margin-top: 30px;
    }

    .alex-kumar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:40px;
   }
   .about-alex ul{
        margin-top: 20px;
        gap:20px;
     }
}
   footer{
    background-position: center;
   }
@media screen and (min-width:992px) {
    .banner-section{
        background-position:center;
        margin:0 auto;
    }
    .card-container{
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 120px;
    padding:30px;
    }
   .feature-card h3{
    overflow: hidden;
    text-overflow: ellipsis;
   }
   .feature-card .p1{
    overflow: hidden;
    text-overflow: ellipsis;
   }
   footer{
    background-position: center;
   }
}