    *{
        margin:0;
        padding:0;
    }
    /* inter font related style  */
    
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* ....................this is nav related link........... */
header{
    max-width:1600px;
    margin:0 auto;
    background-color:#1A0B2E;
}
nav{
    position:relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:24px 0;
}
.thewave{
    font-size:bold;
    color:white;
}
.gradient{
    background:linear-gradient(20deg,#f7e83fc3,#FB09B4,#9100F8);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.nav-links ul{
    list-style: none;
    display:flex;
    gap:32px;
    color:white;

}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-weight:500;

}

.btn1 button{
cursor: pointer;
width:135px;
color:white;
padding:13px 16px;
border-radius: 10000px;
background:linear-gradient(30deg,#f7e83f,#FB09B4,#9100F8)

}
.checkbox,
.hamburger{
    display:none;
}
/* .............banner-section related style  */
.banner-section{
    max-width:1600px;
    height: 760px ;
    margin:0 auto;
    background:url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    
}
.banner{
    padding-top:101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-img{
    display:flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    width:350px;
    height:350px;
    background: url(/assets/hero-circle.png);
    position:relative;
}
.banner-img .badge{
    position: absolute;
    top:0;
    right:0;
    width:75px;
    border-radius: 1000px;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}
.banner-img .badge p{
    font-weight:600;
    font-size:18px;
    padding:8px 16px;
    
}
.hero-title{
    color: white;
    font-weight:800;
    font-size:4rem;
}
.hero-description{
    color:white;
    margin-bottom:24px;
}
.btn-box{
    display: inline-flex;
    gap:8px;
}
.btn2, .btn3 {
    display:flex;
    gap:8px;
    padding:13px 20px;
    align-items: center;
    border-radius: 10000px;
    font-weight: 600;
}
.btn2{
color:white;
background:linear-gradient(30deg,#f7e83f,#FB09B4,#9100F8);
}
.btn3{
    border:1px solid #00FF88;
    color:#00FF88;
    background: transparent;
}
/* ....................media query related style .............  */
@media screen and (max-width:576px){
    .btn1, .checkbox{
        display:none;
    }
    .hamburger{
        display:block;
        cursor:pointer;
        
    }
    .hamburger-icon{
        display:block;
        width:40px;
    }
    .nav-links .links{
        display:none;
        position:absolute;
        flex-direction: column;
        top:60px;
        right:10%;
        background-color: #1A0B2E;
        border:3px solid;
        border-image-source:linear-gradient(30deg,#f7e83f,#FB09B4,#9100F8);
        border-image-slice:1;
        border-radius:8px;
        width:100px;
        align-items: center;
        padding:10px;
        z-index: 1;
    }

    .checkbox:checked + .hamburger + .links{
        display:flex;
    }
    .banner-section{
        background-position: center
    }
    .hero-title,
    .hero-description{
        width:90%;
        text-align: center;
    }
}
@media screen and (min-width:992px) {
    .banner-section{
        background-position:center;
    }
}
